<main>
    <section>
        <header>
            My Cart ({{cart.length}})
        </header>
        <article *ngFor="let item of cart">
            <app-cart-item [item]="item" (quantityUpdated)="updateTotal()"></app-cart-item>
        </article>

        <footer>
            <button class="cart--footer-button">Place Order</button>
        </footer>
    </section>
    <aside>
        <header>
            Price Details
        </header>
        <table>
            <tr>
                <td class="table-text">Price({{cart.length}} items)</td>
                <td class="table-text">{{total}}</td>
            </tr>
            <tr>
                <td class="table-text">Discount</td>
                <td class="table-text">totalDiscount</td>
            </tr>
            <tr>
                <td class="table-text">Delivery Charges</td>
                <td class="table-text">totalDiscount</td>
            </tr>
            <tr>
                <td class="table-text-total">Total Amount</td>
                <td class="table-text-total">10000</td>
            </tr>
        </table>
        <footer>
            <p class="text-discount">You will save ₹1,768 on this order</p>
        </footer>
    </aside>
</main>