section {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 5rem;
}
article > img {
  width: 60%;
  border: 0.2rem solid whitesmoke;
}
/* article {
  flex: 0.5;
}
aside {
  flex: 0.5;
} */

h1 {
  font-size: 5rem;
  font-weight: 200;
}

footer {
  display: flex;
  align-items: center;
  padding: 0.5rem 5rem;
}

footer > button {
  margin: 0.8rem 1rem;
}

p {
  font-size: 3rem;
  font-weight: 400;
}
