<main>
    <figure>
        <img src={{item.product.imgUrl}} alt={{item.product.name}}>
    </figure>
    <section>
        <h1>{{item.product.name}}</h1>
        <h2>Seller: {{item.product.seller}}</h2>
        <h1>₹ {{finalPrice}}</h1>
        <p *ngIf="item.product.discountPercent > 0" class="text-striked">₹ {{item.product.price}}</p>
        <p *ngIf="item.product.discountPercent > 0" class="text-discount">{{item.product.discountPercent}} % Off</p>
    </section>

</main>
<footer>
    <section>
        <button class="button--rounded" (click)="incQty()">+</button>
        <p>{{item.quantity}}</p>
        <button class="button--rounded" (click)="decQty()">-</button>
    </section>
    <button (click)="moveToSave()">Save for later</button>
    <button (click)="remove()">Remove</button>
</footer>