/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button--square {
  padding: 2rem;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button--square-orange {
  background-color: orange;
}

.button--square-orangered {
  background-color: orangered;
}

.button--rounded {
  width: 2.8rem;
  height: 2.8rem;
  border: 1px solid #c2c2c2;
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 50%;
}

.text-striked {
  text-decoration: line-through;
  font-size: 2.5rem;
  color: grey;
}

.text-discount {
  color: green;
}
